.dashboard-container {
  display: flex;
  height: 100vh;
  font-family: 'Arial', sans-serif;
  background-color: #f0f0f5;
}

.dashboard-content {
  flex-grow: 1;
  padding: 20px;
  background-color: #ffffff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.footer-info {
  text-align: center;
  margin-top: 20px;
}

.footer-info h4 {
  font-size: 24px;
  color: #333;
}

.footer-info p {
  font-size: 18px;
  color: #777;
}

.graph-container {
  margin-top: 40px;
  padding: 20px;
  background-color: #ffffff;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Media Queries for different screen sizes */
@media (max-width: 1200px) {
  .dashboard-content {
    margin-left: 200px;
  }
}

@media (max-width: 1000px) {
  .dashboard-content {
    margin-left: 180px;
  }
}

@media (max-width: 920px) {
  .dashboard-content {
    margin-left: 160px;
  }
}

@media (max-width: 880px) {
  .dashboard-content {
    margin-left: 140px;
  }
}

@media (max-width: 740px) {
  .dashboard-content {
    margin-left: 120px;
  }
}

@media (max-width: 720px) {
  .dashboard-content {
    margin-left: 100px;
  }
}

@media (max-width: 600px) {
  .dashboard-content {
    margin-left: 80px;
  }
}

@media (max-width: 680px) {
  .dashboard-content {
    margin-left: 70px;
  }
}

@media (max-width: 620px) {
  .dashboard-content {
    margin-left: 60px;
  }
}

@media (max-width: 640px) {
  .dashboard-content {
    margin-left: 50px;
  }
}

@media (max-width: 580px) {
  .dashboard-content {
    margin-left: 40px;
  }
}

@media (max-width: 540px) {
  .dashboard-content {
    margin-left: 30px;
  }
}

@media (max-width: 520px) {
  .dashboard-content {
    margin-left: 20px;
  }
}

@media (max-width: 480px) {
  .dashboard-content {
    margin-left: 10px;
  }
}

@media (max-width: 440px) {
  .dashboard-content {
    margin-left: 5px;
  }
}

@media (max-width: 420px) {
  .dashboard-content {
    margin-left: 0px;
  }
}

